<h1 align="center" style="color:#240A30;"><%= @subject %></h1>
<h3 align="center"><%= @name %>, thank you for registering!</h3>
<h3 align="center"><a href="<%= ENV['root_url'] %>">Start working right now.</a></h3>
