<h1 align="center" style="color:#240A30;"><%= @subject %></h1>
<h3 align="center"><%= @name %>, thank you for your interest!</h3>
<h3 align="center">We'll notify your when your account will be approved.</h3>
